#root {
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 1%;
}

@media (min-width:992px) {

  @media (min-width: 400px) {
    body { width: 90%; font-size: 75%; }
  }

  @media (min-width: 700px) {
    body { width: 80%; font-size: 90%; }
  }

  @media (min-width: 850px) {
    body { width: 70%; font-size: 100%; }
  }

  @media (min-width: 1000px) {
    body { width: 60%; font-size: 110%; }
  }

  @media (min-width: 1100px) {
    body { width: 50%; font-size: 115%;}
  }

  @media (min-width: 1450px) {
    body { width: 40%; font-size: 125%; }
  }

}

body {
  background-color: #0E2A35;
}

/* HEADER */
.header-logo-h1-1 {
  color: #0E2A35;
  border: solid;
  border-color: #61D1AC;
  border-width: 20%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 55%;
  border-bottom-right-radius: 10%;
  background: linear-gradient(
    to right,
    #61D1AC 0%,
    #61D1AC 70%,
    #ebe3ca 50%,
    #ebe3ca 100%
  );
  width: 70%;
  display: inline-flex;
  justify-content: center;
}

.header-logo-h1-1:hover {
  cursor: pointer;
  color: #0E2A35;
  border: solid;
  border-color: #ebe3ca;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 55%;
  border-bottom-right-radius: 10%;
  background: linear-gradient(
    to right,
    #61D1AC 0%,
    #61D1AC 50%,
    #ebe3ca 30%,
    #ebe3ca 100%
  );
  text-shadow: 0 0 60px #61D1AC, 0 0 60px #61D1AC;
}

/* NAV BAR */
.nav-bar-container {
  border-top: solid;
  border-top-color: #BFAD73;
  border-top-width: 2px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: solid;
  border-bottom-style: double;
  border-bottom-color: #61D1AC;
  border-bottom-width: 7px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.nav-bar-container:hover {
  border-top: solid;
  border-top-color: #ebe3ca;
  border-top-width: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

nav ul {
  display: flex;
  justify-content:space-around;
}

#nav-bar-select {
  color: #61D1AC;
  font-weight: bold;

}

#nav-bar-select:hover {
  text-shadow: 0 0 70px #61D1AC, 0 0 70px #61D1AC;
  color: #ebe3ca;
  cursor: pointer;
  font-weight: bold;
}

/* LOADING */
#loading {
  color: #ebe3ca;
  font-size: 150%;
}


/* ALL ARTICLES */
#all-articles-h2 {
  margin-top: 4%;
  border-bottom: solid;
  border-bottom-color: #BFAD73;
  border-bottom-width: 7px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-style: double;
  background-color: #0E2A35;
  color: #ebe3ca;
  padding: 2%;
  width: 50%;
  display: inline-flex;
  justify-content: center;
}

#article-titles {
  border-top: solid;
  border-top-width: 2px;
  border-top-right-radius: 0;
  border-bottom: solid;
  border-bottom-color: #EBE3CA;
  border-bottom-width: 7px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-style: double;
  background-color: #9A2F72;
  color: #EBE3CA;
  padding: 2%;
  margin-bottom: 1%;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

button {
  width: 70%;
  justify-content: center;
  display: block;
  text-decoration: none;
}

.articles-button {
  display: block;
  /* width: 50%; */
  cursor: pointer;
  border: solid;
  border-color: #9A2F72;
  border-width: 50%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #EBE3CA;
  padding: 4%;
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
}

.articles-button:hover {
  border: solid;
  border-color: #EBE3CA;
  border-width: 10% ;
  background-color: #0E2A35;
  color: #EBE3CA;
}

.articles-list {
  list-style-type: none;
  margin-bottom: 5%;
}

img {
  width: 90%;
  border: solid;
  border-radius: 3%;
  border-color: #EBE3CA;
}

.single-article-container {
  border: solid #9A2F72;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #EBE3CA;
  border-width: 5%;
  padding: 3%;
}

/* COMMENTS */
.number-of-comments {
  color: #0E2A35;
  font-weight: bold;
}

.add-comment-container {
  background-color: #0e2a35c4;
  color: #EBE3CA;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-width: 10%;
  display:grid;
  justify-content:space-evenly;
  justify-content: center;
  gap: 5%;
  padding-bottom: 6%;
  font-weight: bold;
}

.add-comment-container:hover {
  background-color: #0e2a35ec;
  color: #EBE3CA;
}

.submit-comment-button {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #EBE3CA;
  background-color: #9A2F72;
  width: 30%;
  position:sticky;
}

.submit-comment-button:hover {
  color: #0e2a35;
  background-color: #EBE3CA;
}


#add-comment-form {
  background-color: #0e2a35;
  color: #EBE3CA;
  border-color: white;
  border-top-left-radius: 12%;
  border-bottom-right-radius: 12%;
}

#add-comment-form:hover {
  cursor: pointer;
  background-color:#0e2a35c1;
}

#add-username-form {
  background-color: #0e2a35;
  color: #EBE3CA;
  border-color: white;
  border-top-left-radius: 12%;
  border-bottom-right-radius: 12%;
}

#add-username-form:hover {
  cursor: pointer;
  background-color:#0e2a35c1;
}

::placeholder {
  color: #ebe3caa1;
}

.comments-list {
  border: solid;
  border-color: #0e2a35ec;
  background-color: #0e2a35ec;
  color: #EBE3CA;
  border-radius: 5%;
  margin-bottom: 2%;
  display: inline-flexbox;
}


/* LIKES */
.likes-container {
  background-color: #0E2A35;
  color: #EBE3CA;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-flex;
  justify-content: center;
  gap: 5%;
  padding: 1.2%;
  font-weight: bold;
  width: 30%;
}

.give-like-button {
  background-color: #9A2F72;
  color: #EBE3CA;
  padding: 1%;
  width: 40%;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.give-like-button:hover {
  cursor: pointer;
  background-color: #EBE3CA;
  color: #0E2A35;
}
